@import "./mixin.scss";
@import "./variables.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $neutral-light;
  color: $neutral-dark;
}

.nav-container {
  background-color: $neutral-dark;
  color: $neutral-light;

  nav {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;
      flex-basis: 100%;
      gap: 20px;
      justify-content: center;

      @include respond(sm) {
        flex-basis: initial;
        justify-content: initial;
      }

      li {
        font-size: 1.3rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;

  .about-name {
    font-size: 2rem;
    margin-bottom: 0;

    @include respond(sm) {
      font-size: 3.75rem;
    }
  }

  .about-title {
    font-size: 1rem;

    @include respond(sm) {
      font-size: 1.5rem;
    }
  }

  .about-name,
  .about-title {
    flex-basis: 100%;
  }

  .about-bio,
  .about-image-container {
    flex-basis: 100%;

    @include respond(md) {
      flex-basis: 48%;
    }
  }

  .about-image-container {
    margin-bottom: 20px;
    order: 0;
    width: 100%;

    @include respond(md) {
      order: 1;
    }

    .about-image {
      box-shadow: $box-shadow;
    }
  }

  .about-bio {
    order: 1;

    @include respond(md) {
      order: 0;
    }
    p {
      margin-bottom: 20px;
    }
  }
}

#projects {
  background-color: $light;
  padding: 30px 0px;

  .project-list {
    flex-wrap: wrap;
    justify-content: center;

    @include respond(lg) {
      justify-content: space-between;
    }

    .project-card {
      display: flex;
      align-items: flex-end;
      flex-basis: 100%;

      @include respond(lg) {
        flex-basis: 31%;
      }

      a {
        width: 100%;
      }

      p {
        margin-bottom: 5px;
      }

      img {
        box-shadow: $box-shadow;
        width: 100%;
      }
    }
  }
}

.footer-container {
  background-color: $neutral-dark;
  color: $neutral-light;

  footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;

    p {
      font-size: 1.3rem;
      margin: 0 20px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.project-title {
  margin-top: 10px;
  font-size: 3rem;

  @include respond(md) {
    font-size: 3.75rem;
  }
}

.image-and-tech-stack-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;

  @include respond(xl) {
    flex-wrap: nowrap;
    justify-content: initial;
    margin-bottom: 50px;
  }

  img {
    box-shadow: $box-shadow;
    margin-bottom: 20px;

    @include respond(md) {
      margin-right: 50px;
    }
  }

  .tech-stack-container {
    flex-basis: 100%;

    ul {
      list-style-type: disc;
      padding-left: 40px;

      li {
        font-size: 1.3rem;
      }
    }
  }

  .website-button {
    background-color: $neutral-dark;
    box-shadow: $box-shadow;
    color: $white;
    font-size: 1.3rem;
    margin-top: 20px;
    padding: 1rem 2rem;
    width: 100%;

    @include respond(md) {
      margin-top: 50px;
    }

    &:hover {
      background-color: $neutral-dark-hover;
    }
  }
}

.challenge-and-solution-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include respond(md) {
    flex-wrap: nowrap;
  }

  .challenge-container,
  .solution-container {
    flex-basis: 100%;
    margin-bottom: 20px;

    @include respond(md) {
      flex-basis: 48%;
    }

    .font-semibold {
      margin-bottom: 5px;
    }

    p:not(.font-semibold) {
      font-size: 1.1rem;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}
