@import "./mixin.scss";
@import "./variables.scss";

@import "./components/about.scss";
@import "./components/footer.scss";
@import "./components/navbar.scss";
@import "./components/project-page.scss";
@import "./components/project-section.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: $neutral-light;
  color: $neutral-dark;
}
